<div class="t-cont">
    <%= form_with model: @detail, url: category_details_path, locale: true, method: :post do |form|%>
        <div class="t-cont__form">
            <%= link_to :back do %>
            <i class="fas fa-arrow-left"></i>
            <%end%>
            <h2 class="t-cont__form__title">New Transaction</h2>
            <div class="t-cont__form__input">
                <%= form.submit "Save", class: "t-cont__form__input__btn" %>
            </div>
        </div>
        <%= render "shared/messages" %>
        <div class="t-cont__form__input">
            <%= form.text_field :name, class: "t-cont__form__input__field", placeholder: "Name" %>
            <%= form.text_field :amount, class: "t-cont__form__input__field", placeholder: "Amount" %>
        </div>
        <div class="t-cont__form__input__label">
        <p class="t-cont__form__input__label__detail">Select Category</p>
        <%= form.select :category, current_user.categories.map { |c| [c.name, c.id] }, required: true %>
        </div>
    <%end%>
            <% if flash[:error] %>
                <div><%= flash[:error] %></div>
            <% end %>
</div>